<link rel="import"
      href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">

<dom-module id="cl-device-selector">
  <template>
    <style>
      paper-dropdown-menu {
        width: 100%;
      }

      .section-header {
        padding: 5px 16px;
        font-weight: bold;
        font-size: 0.8em;
        background: #eee;
      }
    </style>

    <paper-dropdown-menu label="OpenCL Device">
      <paper-menu class="dropdown-content" selectable="paper-item"
                  selected="0" selected-item="{{_deviceItem}}">
        <template is="dom-repeat" items="[[platforms]]" as="platform">
          <div class="section-header">[[platform.name]]</div>
          <template is="dom-repeat" items="[[platform.devices]]" as="device">
            <paper-item device="[[device]]" label="[[device.name]]">
              <paper-item-body two-line>
                <div>[[device.name]]</div>
                <div secondary>[[device.version]] ([[device.profile]])</div>
              </paper-item-body>
            </paper-item>
          </template>
        </template>
      </paper-menu>
    </paper-dropdown-menu>
  </template>

  <script>
    'use strict'

    class CLDeviceSelector {
      beforeRegister () {
        this.is = 'cl-device-selector',
        this.properties = {
          platforms: Array,
          _deviceItem: { observer: 'deviceItemChanged' },
          device: { readOnly: true, notify: true }
        }
      }

      deviceItemChanged (element) {
        if (element) { this._setDevice(element.device) }
      }
    }

    Polymer(CLDeviceSelector)
  </script>
</dom-module>
