<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="./cl-device-selector.html">
<link rel="import" href="./point-cloud-viewer.html">

<dom-module id="p0se-demo-app">
  <template>
    <style>
      :host {
        font-family: Sans-Serif;
        position: relative;

        -webkit-user-select: none;
        user-select: none;

        overflow: hidden;
      }

      :host:active {
        cursor: -webkit-grabbing;
        cursor: grabbing;
      }

      .sidebar {
        position: absolute; top: 16px; right: 16px; width: 280px;
      }

      .sidebar > * {
        width: 100%;
        cursor: default;
        margin-bottom: 16px;
      }

      point-cloud-viewer {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
      }
    </style>

    <point-cloud-viewer></point-cloud-viewer>

    <div class="sidebar">
      <paper-card class="general-settings">
        <div class="card-content">
          <cl-device-selector platforms="[[platforms]]" device="{{device}}">
          </cl-device-selector>
        </div>
      </paper-card>
    </div>
  </template>

  <script>
    'use strict'

    const clUtils = require('./lib/cl-utils')

    class P0seDemoApp {
      beforeRegister () {
        this.is = 'p0se-demo-app'
        this.properties = {
          platforms: { value() { return clUtils.getPlatforms() } },
          device: { observer: 'deviceChanged' }
        }
      }

      deviceChanged (device) {
        console.log(device.name)
      }
    }

    Polymer(P0seDemoApp)
  </script>
</dom-module>
