<link rel="import"
      href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<dom-module id="point-cloud-viewer">
  <template>
    <style>
      :host {
        cursor: -webkit-grab;
        cursor: grab;

        background: radial-gradient(ellipse at center,
                                    #aaa 0%, #666 100%);
      }
    </style>
  </template>

  <script>
    'use strict'

    const THREE = require('three')
    const OrbitControls = require('three-orbit-controls')(THREE)
    const dvoUtils = require('./lib/dvo-utils')

    class PointCloudViewer {
      beforeRegister () {
        this.is = 'point-cloud-viewer'
        this.listeners = {
          'iron-resize': '_onResize'
        }
      }

      get behaviors () { return [Polymer.IronResizableBehavior] }

      ready () {
        // Scene
        const scene = new THREE.Scene()

        // Points
        const imagePathPrefix = `${__dirname}/datasets/sample-dataset`
        const rgbImagePath = `${imagePathPrefix}/rgb/1305031102.175304.png`
        const depthImagePath = `${imagePathPrefix}/depth/1305031102.160407.png`

        const rgbImage = dvoUtils.readImageSync(rgbImagePath, 1 / 255)
        const depthImage = dvoUtils.readImageSync(depthImagePath, 1 / 5000)
        const intrinsics = new THREE.Matrix3().set(517.3, 0.0,   318.6,
                                                   0.0,   516.5, 255.3,
                                                   0.0,   0.0,   1.0)

        const geometry = dvoUtils.createGeometry(rgbImage, depthImage, intrinsics)
        const material = new THREE.PointsMaterial({ size: 0.015,
            vertexColors: THREE.VertexColors })
        const points = new THREE.Points(geometry, material)
        scene.add(points)

        // Axis
        var axisHelper = new THREE.AxisHelper(1)
        scene.add(axisHelper)

        // Renderer
        const renderer = new THREE.WebGLRenderer({ antialias:true, alpha: true })
        Polymer.dom(this.root).appendChild(renderer.domElement)

        // Camera and controls
        const camera = new THREE.PerspectiveCamera(75, 1, 0.01, 1000)
        camera.position.z = -5
        const controls = new OrbitControls(camera, renderer.domElement)
        controls.enableDamping = true
        controls.dampingFactor = 0.25
        // controls.autoRotate = true
        controls.enableZoom = true

        this.scene = scene
        this.camera = camera
        this.controls = controls
        this.renderer = renderer
      }

      attached () {
        this._render()
      }

      detached () {
        cancelAnimationFrame(this._rafId)
        this._rafId = null
      }

      _render () {
        this._rafId = requestAnimationFrame(() => this._render())
        this.controls.update()
        this.renderer.render(this.scene, this.camera)
      }

      _onResize () {
        const w = this.offsetWidth
        const h = this.offsetHeight
        const sidebarWidth = 300; // Sidebar (right) width

        // Set view as if there was an invisible sidebar to the left as well
        this.camera.aspect = (w + sidebarWidth) / h
        this.camera.setViewOffset(w + sidebarWidth, h, sidebarWidth, 0, w, h)
        this.camera.updateProjectionMatrix()
        this.renderer.setSize(w, h)
      }
    }

    Polymer(PointCloudViewer)
  </script>
</dom-module>
