<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<script src="mouse-gesture.js"></script>
<script src="touch-gesture.js"></script>
<script src="physics.js"></script>

<dom-module id="zoom-view">
  <template>
    <style>
      :host {
        cursor: -webkit-grab; cursor: grab;
        overflow: hidden;
        -ms-touch-action: none;
        position: relative;
      }

      :host([grabbing]) {
        cursor: -webkit-grabbing; cursor: grabbing;
      }

      #content {
        position: absolute;
        will-change: transform;
        -webkit-transform-origin: 0% 0% 0; transform-origin: 0% 0% 0;
      }
    </style>
    <div id="content"><content></content></div>
  </template>
  <script>
    /*
    ToDo:
    - Make contentX and contentY settable
    - Enforce min and max scale when physics are used
    */
    Polymer({
      is: 'zoom-view',

      behaviors: [Polymer.IronResizableBehavior],

      properties: {
        viewportWidth: { type: Number, readOnly: true, notify: true },
        viewportHeight: { type: Number, readOnly: true, notify: true },
        contentWidth: { type: Number, readOnly: true, notify: true },
        contentHeight: { type: Number, readOnly: true, notify: true },
        contentX: { type: Number, readOnly: true, notify: true, value: 0 },
        contentY: { type: Number, readOnly: true, notify: true, value: 0 },
        contentScale: { type: Number, notify: true, value: 1 },
        minContentScale: { type: Number, value: 1 },
        maxContentScale: { type: Number, value: 1 },
        grabbing: { type: Boolean, value: false, reflectToAttribute: true,
                    readOnly: true, notify: true }
      },

      listeners: {
        'iron-resize': '_updateSizes'
      },

      observers: [
        '_onTransformChange(contentX, contentY, contentScale)',
        '_onSizeChange(viewportWidth, viewportHeight, ' +
                      'contentWidth, contentHeight)'
      ],

      created: function () {
        this._activeGesture = null
        this._snappies = [new ZoomViewSnappy1D(), new ZoomViewSnappy1D()]
        this._isSomethingVisible = 0
      },

      attached: function () {
        var Gestures = [ZoomViewTouchGesture, ZoomViewMouseGesture]
        this._gestures = Gestures.map(function (Gesture) {
          var gesture = new Gesture(this, {
            start: function () {
              if (!this._activeGesture) {
                this._activeGesture = gesture
                this._setGrabbing(true)
              }
            }.bind(this),
            update: function (input) {
              if (this._activeGesture !== gesture) { return }
              this._updateSizes()
              var deltaScale = input.deltaScale
              var deltaX = input.deltaPosition[0]
              var deltaY = input.deltaPosition[1]
              var centerX = input.center[0]
              var centerY = input.center[1]

              var oldScale = this.contentScale
              var newScale = this._clampScale(oldScale * deltaScale)
              this.contentScale = newScale
              deltaScale = newScale / oldScale

              this._setContentX(
                centerX - (centerX - this.contentX) * deltaScale + deltaX)
              this._setContentY(
                centerY - (centerY - this.contentY) * deltaScale + deltaY)
            }.bind(this),
            end: function (inputs) {
              if (this._activeGesture !== gesture) { return }
              this._activeGesture = null
              this._setGrabbing(false)
              this._snappies[0].reset(this.contentX, inputs.velocity[0])
              this._snappies[1].reset(this.contentY, inputs.velocity[1])
            }.bind(this)
          })
          return gesture
        }.bind(this))

        this._update()
      },

      detached: function () {
        cancelAnimationFrame(this._rafId)
        this._gestures.forEach(function (g) { g.destroy() })
        this._gestures = []
      },

      _update: function () {
        this._rafId = requestAnimationFrame(this._update.bind(this))
        if (!this._activeGesture) {
          // Update using physics
          this._updateSizes()

          var snapX = getSnapPosition(this.viewportWidth,
                                      this.contentWidth * this.contentScale,
                                      this.contentX)
          if (snapX != null) { this._snappies[0].snapPosition = snapX }
          this._setContentX(this._snappies[0].update().position)

          var snapY = getSnapPosition(this.viewportHeight,
                                      this.contentHeight * this.contentScale,
                                      this.contentY)
          if (snapY != null) { this._snappies[1].snapPosition = snapY }
          this._setContentY(this._snappies[1].update().position)

        }
      },

      _updateSizes: function () {
        var oldViewportWidth = this.viewportWidth
        var oldViewportHeight = this.viewportHeight
        var oldContentWidth = this.contentWidth
        var oldContentHeight = this.contentHeight
        var newViewportWidth = this.offsetWidth
        var newViewportHeight = this.offsetHeight
        var newContentWidth = this.$.content.offsetWidth
        var newContentHeight = this.$.content.offsetHeight
        this._setViewportWidth(newViewportWidth)
        this._setViewportHeight(newViewportHeight)
        this._setContentWidth(newContentWidth)
        this._setContentHeight(newContentHeight)
        if (oldViewportWidth !== newViewportWidth ||
            oldViewportHeight !== newViewportHeight ||
            oldContentWidth !== newContentWidth ||
            oldContentHeight !== newContentHeight) {
          this.fire('zoom-view-resize')
        }
      },

      _onTransformChange: function (cx, cy, cs) {
        var transform = 'translate3d(' + cx + 'px, ' + cy + 'px, 0px) ' +
                        'scale3d(' + cs + ', ' + cs + ', 1) '
        this.$.content.style.transform = transform
      },

      _onSizeChange: function (viewportWidth, viewportHeight,
                               contentWidth, contentHeight) {
        var oldIsSomethingVisible = this._isSomethingVisible
        var newIsSomethingVisible = (viewportWidth * viewportHeight *
                                      contentWidth * contentHeight) > 0
        this._isSomethingVisible = newIsSomethingVisible
        if (newIsSomethingVisible && !oldIsSomethingVisible) {
          this.fire('zoom-view-appear')
        }
      },

      get fitScaleFactor () {
        var scaleX = this.viewportWidth / this.contentWidth
        var scaleY = this.viewportHeight / this.contentHeight
        return Math.min(scaleX, scaleY)
      },

      centerContent: function () {
        if (!this._snappies) { return }
        this._updateSizes()

        var scaledContentWidth = this.contentWidth * this.contentScale
        var spaceX = this.viewportWidth - scaledContentWidth
        this._snappies[0].reset(0.5 * spaceX, 0)

        var scaledContentHeight = this.contentHeight * this.contentScale
        var spaceY = this.viewportHeight - scaledContentHeight
        this._snappies[1].reset(0.5 * spaceY, 0)
      },

      _clampScale: function (scale) {
        scale = Math.min(this.maxContentScale, scale)
        return Math.max(this.minContentScale, scale)
      }
    })

    function getSnapPosition (viewportSize, scaledContentSize, position) {
      var space = viewportSize - scaledContentSize
      if (space > 0) { // Content smaller than viewport
        return space * 0.5
      } else { // Content bigger than viewport
        if (position < space) { return space }
        if (position > 0) { return 0 }
      }
      return null
    }
  </script>
</dom-module>
