<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<dom-module id="p0se-timeline-marker">
  <template>
    <style>
      :host {
        overflow: hidden;
      }

      #marker {
        width: 2px;
        position: relative; left: -1px;
        height: 100%;
      }
    </style>
    <div id="marker"></div>
  </template>

  <script>
    Polymer({
      is: 'p0se-timeline-marker',

      behaviors: [Polymer.IronResizableBehavior],

      properties: {
        framesCount: { type: Number, value: 0 },
        frameIndex: { type: Number, value: 0 },
        color: { type: String, value: 'black' },
        _width: { type: Number, value: 0 }
      },

      listeners: { 'iron-resize': '_onResize' },
      observers: [ '_onChange(framesCount, frameIndex, _width, color)' ],

      _onResize () { this._width = this.offsetWidth },

      _onChange (framesCount, frameIndex, width, color) {
        if (framesCount > 0 && typeof frameIndex === 'number') {
          this.$.marker.hidden = false
          this.$.marker.style.backgroundColor = color
          this.$.marker.style.transform =
              'translateX(' + (frameIndex / framesCount * width) + 'px)'
        } else {
          this.$.marker.hidden = true
        }
      }
    })
  </script>
</dom-module>
