<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="p0se-timeline-marker.html">

<dom-module id="p0se-timeline">
  <template>
    <style>
      :host {
        display: block;
        background: #ccc;
        height: 15px;
      }

      #timeline {
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        position: relative;
      }

      #timeline > * {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
      }
    </style>

    <div id="timeline">
      <template is="dom-repeat" items="[[selectedFrameIndices]]">
        <p0se-timeline-marker frames-count="[[framesCount]]"
                              frame-index="[[item]]"
                              color="#888">
      </template>

      <template is="dom-if" if="[[isScrubbing]]">
        <p0se-timeline-marker frames-count="[[framesCount]]"
                              frame-index="[[scrubbingFrameIndex]]">
        </p0se-timeline-marker>
      </template>

      <template is="dom-if" if="[[!isScrubbing]]">
        <p0se-timeline-marker frames-count="[[framesCount]]"
                              frame-index="[[activeFrameIndex]]"
                              color="#f46542">
        </p0se-timeline-marker>
      </template>
    </div>
  </template>

  <script>
    Polymer({
      is: 'p0se-timeline',

      properties: {
        framesCount: { type: Number, value: 0 },
        isScrubbing: { type: Number, value: false, notify: true },
        _scrubbingRatio: { type: Number, value: 0 },

        activeFrameIndex: { type: Number, value: null, notify: true},
        scrubbingFrameIndex: { type: Number, value: null,
                               notify: true, readOnly: true },
        selectedFrameIndices: { type: Array, value: [], notify: true }
      },

      listeners: {
        'mouseenter': '_onMouseEnter',
        'mousemove': '_onMouseMove',
        'click': '_onClick',
        'mouseleave': '_onMouseLeave'
      },

      observers: [
        '_onSrub(framesCount, isScrubbing, _scrubbingRatio)'
      ],

      _onMouseEnter () {
        this.isScrubbing = true
      },

      _onMouseMove (event) {
        const rect = this.getBoundingClientRect()
        let value = ((event.clientX - rect.left) / rect.width)
        this._scrubbingRatio = Math.max(0, Math.min(100, value))
      },

      _onMouseLeave () {
        this.isScrubbing = false
      },

      _onSrub (framesCount, isScrubbing, scrubbingRatio) {
        if (isScrubbing) {
          this._setScrubbingFrameIndex(Math.round(framesCount * scrubbingRatio))
        } else {
          this._setScrubbingFrameIndex(null)
        }
      },

      _onClick () {
        this.activeFrameIndex = this.scrubbingFrameIndex
      }
    })
  </script>
</dom-module>
