<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="p0se-pose-row">
  <template>
    <style>
      :host {
        display: block;
        padding: 0 10px;
      }

      .spacer {
        height: 10px;
      }

      #poseSection {
        position: relative;
        padding-left: 20px;
      }

      #poseSection > .bar {
        background: #a7c7f9;
        position: absolute; top: 0; bottom: 0; left: 10px; width: 5px;
      }

      #frameId {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 5px;
        background: #a7c7f9;
      }
    </style>

    <template is="dom-if" if="[[pose.isFirst]]">
      <div class="spacer"></div>
    </template>

    <template is="dom-if" if="[[!pose.isFirst]]">
      <section id="poseSection">
        <div class="bar"></div>
        Pose (30ms)
      </section>
    </template>

    <section id="frameSection">
      <div id="frameId">[[pose.toFrameId]]</div>
    </section>

    <template is="dom-if" if="[[pose.isLast]]">
      <div class="spacer"></div>
    </template>
  </template>
  <script>
    Polymer({
      is: 'p0se-pose-row',
      properties: {
        pose: { type: Object }
      }
    })
  </script>
</dom-module>
