<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="zoom-view/zoom-view.html">

<dom-module id="p0se-viewer">
  <template>
    <style>
      :host {
        position: relative;
      }

      zoom-view {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
      }
    </style>

    <zoom-view id="zoomView"
                 on-zoom-view-resize="_onZoomViewResize"
                 on-zoom-view-appear="_onZoomViewAppear">
      <content></content>
    </zoom-view>
  </template>
  <script>
    Polymer({
      is: 'p0se-viewer',
      _onZoomViewAppear: function () {
        var zoomView = this.$.zoomView
        zoomView.contentScale = 1
        zoomView.centerContent()
      },
      _onZoomViewResize: function (vw, vh, cw, ch) {
        var zoomView = this.$.zoomView
        var scaleFactors = [1, zoomView.fitScaleFactor].sort()
        zoomView.minContentScale = scaleFactors[0]
        zoomView.maxContentScale = scaleFactors[1]
      }
    })
  </script>
</dom-module>
