<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="p0se-poses-panel.html">
<link rel="import" href="p0se-visualization.html">
<link rel="import" href="p0se-timeline-panel.html">
<link rel="import" href="p0se-dataset-frame-object-loader.html">

<dom-module id="p0se-app">
  <template>
    <style>
      :host {
        @apply(--paper-font-common-base);
        display: flex;
      }

      :host > section { position: relative; }
      :host > section.main { flex: 1 0 0; }
      :host > section.sidebar { flex: 0 1 300px; }

      .fill {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
      }

      p0se-timeline-panel {
        position: absolute; right: 10px; bottom: 10px; left: 10px;
      }

      #buttons {
        position: absolute; right: 0;
      }

      #buttons > paper-button {
        margin: 10px;
        display: block;
        background: white;
      }
    </style>


    <section class="main">
      <p0se-dataset-frame-object-loader
        frame-ids="[[_firstNotNull(scrubbingFrameIndex, activeFrameIndex)]]"
        dataset="[[dataset]]"
        poses="[[dataset.groundTruthPoses]]"
        visualization="[[visualization]]">
      </p0se-dataset-frame-object-loader>

      <p0se-dataset-frame-object-loader
        frame-ids="[[pinnedFrameIndices]]"
        dataset="[[dataset]]"
        poses="[[dataset.groundTruthPoses]]"
        visualization="[[visualization]]">
      </p0se-dataset-frame-object-loader>

      <p0se-visualization class="fill"
                          dataset="[[dataset]]"
                          scrubbing-frame-index="[[scrubbingFrameIndex]]"
                          visualization="{{visualization}}">
      </p0se-visualization>

      <p0se-timeline-panel frames-count="[[dataset.frames.length]]"
                           active-frame-index="{{activeFrameIndex}}"
                           scrubbing-frame-index="{{scrubbingFrameIndex}}"
                           selected-frame-indices="{{pinnedFrameIndices}}">
      </p0se-timeline-panel>

      <section id="buttons">
        <paper-button on-tap="_openAlignmentInspector">
          Alignment Inspector
        </paper-button>
      </section>
    </section>
  </template>
  <script>
    (function () {
      const runner = require('../utils/runner')
      const readDataset = require('../utils/dataset/read-dataset')
      const { Tracker } = require('../utils/p0se-js')
      const { ipcRenderer } = require('electron')
      const getRelativePose = require('../utils/dataset/evaluation/get-relative-pose')
      const TrajectoryLine = require('./visualization/objects/trajectory-line.js')

      Polymer({
        is: 'p0se-app',
        properties: {
          dataset: { type: Object },
          activeFrameIndex: { type: Number },
          scrubbingFrameIndex: { type: Number },
          pinnedFrameIndices: { type: Array, value: [] }
        },

        ready() {
          runner.runAllBenchmarks({
            onLoadedDataset: (dataset) => {
              this.visualization.clear()
              this.dataset = dataset
              this.visualization.add(
                TrajectoryLine.fromPoses(dataset.groundTruthPoses, {
                  color: '#39ef6d'
                }))
            },
            onTrackedFrame: ({ positionsFloat32Array, preIndex, curIndex }) => {
              if (this.visualization) {
                this.visualization.delete(this._trajectoryLine)
                this._trajectoryLine = new TrajectoryLine(positionsFloat32Array, {
                  color: '#ef3e1f'
                })
                this.visualization.add(this._trajectoryLine)
              }

              console.log('Tracked from ' + preIndex + ' to ' + curIndex)
            }
          })
        },

        _firstNotNull (a, b) {
          if (a !== null) { return a }
          return b
        },

        _openAlignmentInspector () {
          ipcRenderer.send('open-alignment-inspector')
        }
      })
    })()
  </script>
</dom-module>
