<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="./p0se-timeline.html">

<dom-module id="p0se-timeline-panel">
  <template>
    <style>
      :host {
        background: white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12),
                    0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      p0se-timeline {
      }

      #infoSection {
        display: flex;
        margin: 10px;
      }

      .flex {
        flex: 1 0 0;
      }

      .info-value {
        text-align: right;
      }

      .info-value > .label {
        font-size: 12px;
        text-transform: uppercase;
      }

      .info-value > .value {
        font-size: 22px;
      }
    </style>

    <p0se-timeline frames-count="[[framesCount]]"
                   active-frame-index="{{activeFrameIndex}}"
                   scrubbing-frame-index="{{scrubbingFrameIndex}}"
                   selected-frame-indices="{{selectedFrameIndices}}"></p0se-timeline>

    <section id="infoSection">
      <paper-icon-button icon="av:skip-previous"
                         on-tap="_goToPrevious"></paper-icon-button>
      <paper-icon-button icon="av:skip-next"
                         on-tap="_goToNext"></paper-icon-button>
      <paper-icon-button icon="{{_computePinIcon(isPinned)}}"
                         on-tap="_toggleIsPinned"></paper-icon-button>

      <div class="flex"></div>

      <template is="dom-if" if="[[!_isNumber(scrubbingFrameIndex)]]">
        <div class="info-value">
          <div class="label">Active Frame</div>
          <div class="value">[[activeFrameIndex]]</div>
        </div>
      </template>
      <template is="dom-if" if="[[_isNumber(scrubbingFrameIndex)]]">
        <div class="info-value">
          <div class="label">Scrubbing Frame</div>
          <div class="value">[[scrubbingFrameIndex]]</div>
        </div>
      </template>
    </section>
  </template>

  <script>
    Polymer({
      is: 'p0se-timeline-panel',

      properties: {
        framesCount: { type: Number, observer: '_onFramesCountChange' },
        activeFrameIndex: { type: Number, value: 0, notify: true },
        scrubbingFrameIndex: { type: Number, value: null, notify: true },
        selectedFrameIndices: { type: Array, value: [], notify: true },
        isPinned: { type: Boolean,
                    computed: '_computeIsPinned(activeFrameIndex, ' +
                                               'selectedFrameIndices.*)'}
      },

      _isNumber (value) {
        return typeof value === 'number'
      },

      _onFramesCountChange (count) {
        this.activeFrameIndex = Math.min(this.activeFrameIndex, count - 1)
      },

      _computeIsPinned (activeFrameIndex, _) {
        return this.selectedFrameIndices.includes(activeFrameIndex)
      },

      _computePinIcon (isPinned) {
        return isPinned ? 'icons:bookmark' : 'icons:bookmark-border'
      },

      _toggleIsPinned () {
        if (this.selectedFrameIndices.includes(this.activeFrameIndex)) {
          const pos = this.selectedFrameIndices.indexOf(activeFrameIndex)
          this.splice('selectedFrameIndices', pos, 1)
        } else {
          this.push('selectedFrameIndices', this.activeFrameIndex)
        }
      },

      _goToPrevious () {
        if (this.activeFrameIndex > 0) { // Not first frame
          this.activeFrameIndex -= 1
        }
      },

      _goToNext () {
        if (this.activeFrameIndex < this.framesCount - 1) { // Not last frame
          this.activeFrameIndex += 1
        }
      }
    })
  </script>
</dom-module>
