detceles detceles <link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">

<link rel="import" href="p0se-image.html">

<dom-module id="p0se-alignment-inspector-overview">
  <template>
    <style>
      :host {
        overflow-y: auto;
      }

      .group {
        background: #eee;
        margin: 10px;
        padding: 10px;
      }

      .group > .label {
        margin-bottom: 5px;
      }

      .group[is-selected] > .label {
        font-weight: bold;
      }

      .group > .entries {
        overflow-x: auto;
        white-space: nowrap;
      }

      .group > .entries > .entry {
        background: #ccc;
        display: inline-block;
        padding: 7px;
        margin-bottom: 4px;
        border: 2px solid transparent;
        cursor: pointer;
      }

      .group > .entries > .entry[is-selected] {
        background: #aaa;
      }

      .group > .entries > .entry:focus {
        border-color: black;
        outline: none;
      }

      /* Scrollbar */
      .group > .entries::-webkit-scrollbar {
        height: 6px;
      }
      .group > .entries::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: var(--wolf-scrollbar-color, rgba(0, 0, 0, 0.4));
        border: 2px solid transparent;
        border-left-width: 0;
        border-right-width: 0;
        border-left: none;
      }
    </style>

    <template is="dom-repeat"
              items="[[content]]"
              as="group"
              index-as="groupIndex">
      <div class="group"
           is-selected$="[[_isEqual(groupIndex, selectedGroupIndex)]]">
        <div class="label">[[group.label]]</div>
        <div class="entries">
          <template is="dom-repeat"
                    items="[[group.entries]]"
                    as="entry"
                    index-as="entryIndex">
            <div class="entry"
                 is-selected$="[[_isEqualAndEqual(groupIndex, selectedGroupIndex, entryIndex, selectedEntryIndex)]]"
                 tabindex$="[[_computeTabIndex(groupIndex, selectedGroupIndex, entryIndex, selectedEntryIndex)]]"
                 group-index="[[groupIndex]]"
                 entry-index="[[entryIndex]]"
                 on-tap="_onTapEntry">
              [[entry.label]]
            </div>
          </template>
        </div>
      </div>
    </template>

  </template>
  <script>
    (function () {
      const scrollIntoViewIfNeeded = require('scroll-into-view-if-needed')
      const ARROW_LEFT = 37
      const ARROW_UP = 38
      const ARROW_RIGHT = 39
      const ARROW_DOWN = 40

      Polymer({
        is: 'p0se-alignment-inspector-overview',
        properties: {
          content: { type: Array },
          selectedGroupIndex: { value: 0 },
          selectedEntryIndex: { value: 0 },
          isFocused: { value: false, reflectToAttribute: true }
        },

        listeners: {
          "keydown": "_obKeyDown",
          "focus": "_onFocus",
          "blur": "_onBlur",
        },

        _isEqual (a0, a1) { return a0 === a1 },
        _isEqualAndEqual (a0, a1, b0, b1) { return a0 === a1 && b0 === b1 },

        _computeTabIndex (a0, a1, b0, b1) {
          return a0 === a1 && b0 === b1 ? '0' : '-1'
        },

        _obKeyDown (event) {
          // Vertical
          if (event.keyCode === ARROW_UP || event.keyCode === ARROW_DOWN) {
            let delta = event.keyCode === ARROW_UP ? -1 : 1
            const n = this.content.length
            while (Math.abs(delta) < n) {
              const candidateIndex = (this.selectedGroupIndex + delta + n) % n
              const group = this.content[candidateIndex]
              // Has the group enough entries, if not don't break
              if (group.entries.length > this.selectedEntryIndex) { break }
              delta = delta + Math.sign(delta) // +1 or -1
            }
            this.selectedGroupIndex = (this.selectedGroupIndex + delta + n) % n
          }

          // Horizontal
          if (event.keyCode === ARROW_LEFT || event.keyCode === ARROW_RIGHT) {
            const delta = event.keyCode === ARROW_LEFT ? -1 : 1
            const group = this.content[this.selectedGroupIndex]
            const n = group.entries.length
            this.selectedEntryIndex = (this.selectedEntryIndex + delta + n) % n
          }

          // Both directions
          if (event.keyCode === ARROW_UP || event.keyCode === ARROW_DOWN ||
              event.keyCode === ARROW_LEFT || event.keyCode === ARROW_RIGHT) {
            event.preventDefault()
            event.stopPropagation()
            setTimeout(() => {
              this._focusSelectedElement()
            }, 0)
          }
        },

        _focusSelectedElement () {
          const entryElement = this.$$('.entry[is-selected]')
          if (entryElement) {
            entryElement.focus()
            scrollIntoViewIfNeeded(entryElement)
          }
        },

        _onTapEntry (event) {
          this.selectedGroupIndex = event.target.groupIndex
          this.selectedEntryIndex = event.target.entryIndex
          this._focusSelectedElement
        },

        _onFocus () { this.isFocused = true },
        _onBlur () { this.isFocused = false }
      })
    })()
  </script>
</dom-module>
