<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<link rel="import" href="p0se-pose-row.html">

<dom-module id="p0se-poses-panel">
  <template>
    <style>
      :host {
        overflow: auto;
        display: flex;
        flex-direction: column;
      }
      iron-list {
        flex: 1 0 0;
      }
    </style>

    <iron-list items="[[poses]]" as="pose">
      <template>
        <p0se-pose-row pose="[[pose]]"></p0se-pose-row>
      </template>
    </iron-list>
  </template>
  <script>
    Polymer({
      is: 'p0se-poses-panel',
      properties: {
        poses: {
          type: Array,
          value() {
            const poses = []
            for (let i = 0; i < 10000; ++i) {
              poses.push({ fromFrameId: i, toFrameId: i + 1 })
            }
            poses[0].fromFrameId = null
            poses[0].isFirst = true
            poses[poses.length - 1].isLast = true
            return poses
          }
        }
      }
    })
  </script>
</dom-module>
