<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="p0se-image">
  <template>
    <style>
      :host {
        display: block;
      }

      canvas {
        display: block;
      }
    </style>
    <canvas width="0" height="0" id="canvas"></canvas>
  </template>
  <script>
    (function () {
      function createImageData (image) {
        const count = image.height * image.width
        const outputArray = new Uint8ClampedArray(image.buffer.buffer)
        return new ImageData(outputArray, image.width, image.height)
      }

      Polymer({
        is: 'p0se-image',
        properties: {
          image: { type: Object, observer: "_onImageChange" }
        },

        _onImageChange (image) {
          if (image) {
            this.$.canvas.width = image.width
            this.$.canvas.height = image.height
            var context = this.$.canvas.getContext('2d')
            context.putImageData(createImageData(image), 0, 0)
          } else {
            this.$.canvas.width = 0
            this.$.canvas.height = 0
          }
        }
      })
    })()
  </script>
</dom-module>
