<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="p0se-dataset-frame-object-loader">
  <template></template>

  <script>
    (function () {
      const readPNG = require('../utils/images/read-png.js')
      const DatasetFrameObject = require('./visualization/objects/dataset-frame')

      Polymer({
        is: 'p0se-dataset-frame-object-loader',

        properties: {
          dataset: { type: Object },
          poses: { type: Array },
          frameIds: { type: Array },
          visualization: { type: Object }
        },

        observers: [
          '_update(frameIds.*, dataset, poses, visualization)'
        ],

        created () {
          this._updatePromise = Promise.resolve()
          this._imageMap = new Map()
        },

        _update (_, dataset, poses, visualization) {
          let frameIds = this.frameIds
          if (typeof frameIds === 'number') { frameIds = [frameIds] }

          frameIds = frameIds || []
          poses = poses || []

          const updateSymbol = Symbol('update')
          this._updateSymbol = updateSymbol

          this._updatePromise = this._updatePromise
            .catch(() => {})
            .then(() => {
              if(updateSymbol !== this._updateSymbol) { return } // Skip

              const imagePaths = []
              for (let frameId of frameIds) {
                const datasetFrame = dataset.frames[frameId]
                imagePaths.push(datasetFrame.rgbImagePath)
                imagePaths.push(datasetFrame.depthImagePath)
              }

              // Image laoding
              const oldImageMap = this._imageMap
              const imageMap = new Map()
              this._imageMap = imageMap
              const imageLoadPromises = []
              for (let imagePath of imagePaths) {
                const image = oldImageMap.get(imagePath)
                if (image) {
                  imageMap.set(imagePath, image)
                } else {
                  const promise = readPNG(imagePath).then(
                    image => { imageMap.set(imagePath, image) },
                    error => { console.error(error) }
                  )
                  imageLoadPromises.push(promise)
                }
              }

              return Promise.all(imageLoadPromises).then(() => {
                // Now all images are loaded
                const datasetFrameObjects = []
                for (let frameId of frameIds) {
                  const datasetFrame = dataset.frames[frameId]
                  const pose = poses[frameId]

                  const datasetFrameObject = new DatasetFrameObject(
                    datasetFrame,
                    imageMap.get(datasetFrame.rgbImagePath),
                    imageMap.get(datasetFrame.depthImagePath),
                    pose
                  )
                  datasetFrameObjects.push(datasetFrameObject)
                }

                if (visualization) {
                  // Remove old objects
                  for (let obj of this._datasetFrameObjects || []) {
                    visualization.delete(obj)
                  }

                  // Add new objects
                  for (let obj of datasetFrameObjects) {
                    visualization.add(obj)
                  }

                  // Remember new objects
                  this._datasetFrameObjects = datasetFrameObjects
                }
              })
            })
        }
      })
    })()
  </script>
</dom-module>
