<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<dom-module id="p0se-visualization">
  <template>
    <style>
      :host {
        cursor: -webkit-grab;
        cursor: grab;
        background: radial-gradient(ellipse at center, #eee 0%, #fff 100%);
      }
    </style>
  </template>

  <script>
    (function () {
      const Visualization = require('./visualization/visualization.js')

      Polymer({
        is: 'p0se-visualization',

        behaviors: [Polymer.IronResizableBehavior],

        properties: {
          dataset: { type: Object },
          visualization: { type: Object, notify: true, readOnly: true }
        },

        listeners: {
          'iron-resize': '_onResize'
        },

        ready () {
          this._setVisualization(new Visualization())
          Polymer.dom(this.root).appendChild(this.visualization.element)
          Polymer.dom(this.root).appendChild(this.visualization.statsElement)
        },

        attached () {
          this._update() // Also starts loop
        },

        detached () {
          cancelAnimationFrame(this._rafId)
          this._rafId = null
        },

        _update () {
          this._rafId = requestAnimationFrame(() => this._update())
          this.visualization.update()
        },

        _onResize () {
          this.visualization.resize(this.offsetWidth, this.offsetHeight)
        }
      })
    })()
  </script>
</dom-module>
