<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/dygraph-elements/dygraph-elements.html">

<link rel="import" href="p0se-image.html">
<link rel="import" href="p0se-viewer.html">
<link rel="import" href="p0se-alignment-inspector-overview.html">

<dom-module id="p0se-alignment-inspector">
  <template>
    <style>
      :host {
        @apply(--paper-font-common-base);
        display: flex;
      }

      #sidebar {
        width: 30%;
        overflow-y: scroll;
      }

      p0se-viewer {
        width: 70%;
        background: #444;
      }

      #histogramViewer {
        width: 70%;
        background: white;
        position: relative;
      }

      p0se-image {
        display: block;
      }

      .log-message {
        padding: 5px;
        border-bottom: 1px solid #f3f3f3;
      }

      .markdown-html p {
        margin: 0;
        margin-left: 20px;
      }

      .markdown-html h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: bold;
        font-size: 1em;
      }

      .markdown-html h2 {
        margin: 0;
        font-weight: normal;
        font-size: 1em;
      }

      .image-log-message {
        padding-left: 25px;
      }

      .image-log-message paper-button,
      .histogram-log-message paper-button {
        --paper-button: {
          background: #eee;
          text-transform: none;
          padding: 2px 10px;
          border-radius: 10px;
          border: 1px solid #bbb;
        }
      }
    </style>

    <!--p0se-alignment-inspector-overview
      content="[[overviewContent]]"-->
    </p0se-alignment-inspector-overview>

    <div id="sidebar">
      <template is="dom-repeat" items="[[logMessages]]" as="logMessage">
        <template is="dom-if" if="[[equals(logMessage.type, 'string')]]">
          <div class="string-log-message log-message">
            <marked-element markdown="[[logMessage.string]]">
              <div class="markdown-html"></div>
            </marked-element>
          </div>
        </template>
        <template is="dom-if" if="[[equals(logMessage.type, 'image')]]">
          <div class="image-log-message log-message">
            <paper-button on-tap="_showImage" image="[[logMessage.image]]">
              <iron-icon icon="image:panorama"></iron-icon>&nbsp;&nbsp;
              [[logMessage.title]]
            </paper-button>
          </div>
        </template>
        <template is="dom-if" if="[[equals(logMessage.type, 'histogram')]]">
          <div class="histogram-log-message log-message">
            <paper-button on-tap="_showHistogram" values="[[logMessage.values]]">
              <iron-icon icon="icons:timeline"></iron-icon>&nbsp;&nbsp;
              [[logMessage.title]]
            </paper-button>
          </div>
        </template>
      </template>
    </div>

    <template is="dom-if" if="[[equals(activeViewer, 'image')]]">
      <p0se-viewer>
        <p0se-image image="[[image]]"></p0se-image>
      </p0se-viwer>
    </template>

    <template is="dom-if" if="[[equals(activeViewer, 'histogram')]]">
      <div id="histogramViewer">
        <dygraph-line id="graph"
                      data="[[histogramValues]]"
                      options="[[histogramOptions]]"
                      colors="[[histogramColors]]"
                      width="100%" height="100%">
        </dygraph-line>
      </div>
    </template>
  </template>
  <script>
    (function () {
      const readDataset = require('../utils/dataset/read-dataset')
      const readPNG = require('../utils/images/read-png')
      const { Container, DeviceImage, createDeviceImagePyramid, Aligner } = require('../utils/p0se-js')

      Polymer({
        is: 'p0se-alignment-inspector',
        properties: {
          datasetPath: { type: String, observer: '_onDatasetPathChange' },
          dataset: { type: Object },
          logMessages: { type: Array },
          activeViewer: { value: 'image' },
          histogramValues: { value: [] },
          histogramOptions: { value: {} },
          histogramColors: { value: ['red'] }
        },

        observers: [
          '_onDatasetChange(dataset)'
        ],

        _onDatasetPathChange (datasetPath) {
          readDataset(datasetPath)
          .then((dataset) => { this.dataset = dataset })
          .catch(error => { console.error(error) })
        },

        async _onDatasetChange (dataset) {
          const preFrame = dataset.frames[200]
          const curFrame = dataset.frames[201]

          const container = new Container({
            platformIndex: 1,
            deviceIndex: 0
          })

          const width = 640
          const height = 480
          const numLevels = 4

          const preRGBDeviceImage =
            new DeviceImage(container, width, height, 'uchar3')
          const preDepthDeviceImage =
            new DeviceImage(container, width, height, 'ushort')
          const curRGBDeviceImage =
            new DeviceImage(container, width, height, 'uchar3')
          const curDepthDeviceImage =
            new DeviceImage(container, width, height, 'ushort')

          const aligner = new Aligner({ container, width, height, numLevels })
          await aligner.ready
          console.log(aligner.buildLog)

          const before = performance.now()

          const [preDepthImage,
                 preRGBImage,
                 curDepthImage,
                 curRGBImage] = await Promise.all([
            readPNG(preFrame.depthImagePath),
            readPNG(preFrame.rgbImagePath),
            readPNG(curFrame.depthImagePath),
            readPNG(curFrame.rgbImagePath)
          ])

          preRGBDeviceImage.writeSync(preRGBImage)
          preDepthDeviceImage.writeSync(preDepthImage)
          curRGBDeviceImage.writeSync(curRGBImage)
          curDepthDeviceImage.writeSync(curDepthImage)

          console.log(performance.now() - before)

          const result = await aligner.run({
            preRGBDeviceImage,
            preDepthDeviceImage,
            curRGBDeviceImage,
            curDepthDeviceImage,
            cameraMatrix: dataset.cameraMatrix,
            depthScaleFactor: dataset.depthScaleFactor,
            log: true
          })

          console.log('done')

          this.logMessages = result.logMessages
        },

        equals (a, b) { return a === b },

        _showImage (event) {
          this.image = event.currentTarget.image
          this.activeViewer = 'image'
        },

        _showHistogram (event) {
          this.histogramValues = event.currentTarget.values
          this.activeViewer = 'histogram'
        }
      })

      function pause (duration) {
        return new Promise(resolve => setTimeout(() => resolve(), duration))
      }
    })()
  </script>
</dom-module>
